<footer class="footer">
    <div class="container footer-container">
        <a class="footer-link" href="./#home">
            <picture>
                <source srcset="
                /img/footer/footer-desk.png 1x,
                /img/footer/footer-desk@2x.png 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                /img/footer/footer-mob.png 1x,
                /img/footer/footer-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="footer-logo" src="/img/footer/footer-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </a>
            <ul class="footer-navigation">
                <li class="footer-link">
                    <a class="footer-underline" href="terms.html">Terms & Conditions</a>
                </li>
                <li class="footer-link">
                    <a class="footer-underline" href="privacy.html">Privacy Policy </a>
                </li>
                <li class="footer-link">
                    <a class="footer-underline" href="cookies.html">Cookies Policy</a>
                </li>
            </ul>

            <p class="footer-text">© 2026 — All rights reserved. marklino.site</p>
    </div>
</footer>