<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Book of Keno</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/hero-desk.png 1x,
                /img/hero/hero-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/hero-logo.png 1x,
                /img/hero/hero-logo@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/hero-logo.png" alt="Book of Keno" loading="lazy" />
            </picture>
            <h2 class="home-title">Some choices are small.<br/>
            Their outcome isn’t.</h2>
            <p class="home-text">Book of Keno is built around a single, simple action — choosing one number from ten.<br/>Look, we got rid of all that
            annoying stuff you don't need - it's literally just you, some numbers, and this weird ancient system that feels like
            it's reading your mind.</p>
            <a class="hero-link" href="#demo">
            <picture>
                <source srcset="
                /img/hero/button-desk.png 1x,
                /img/hero/button-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/button-mob.png 1x,
                /img/hero/button-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="button" src="/img/hero/button-mob.png" alt="Open the Book" loading="lazy" />
            </picture>
            </a>
        </div>
    </div>
</section>