.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 121px 10px;
    background: #b69005;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    color: #fff;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 330px;
    height: 166px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
background: #1f8fc1;
    border-radius: 50px;
    width: 330px;
    height: 76px;
    box-sizing: border-box;
    border: none;
font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

}

.btn-decline {
    border: none;
    background: #ff1e00;
    border-radius: 50px;
    width: 330px;
    height: 76px;
font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    box-sizing: border-box;

}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 24px 101px 24px 65px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .cookie-class {
        width: 904px;
        text-align: left;
    }

    .cookie-buttons {
        margin-top: 0;
        width: 330px;
        height: 166px;
    }

}