.footer {
backdrop-filter: blur(4px);
  background: rgba(26, 7, 7, 0.8);
}
.footer-container{
  padding: 15px 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Berlin Sans FB Demi", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
}
.footer-text{
  font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 18px 200px;
    flex-direction: row;
    justify-content: space-between;    
  }
  .footer-navigation{
    flex-direction: row;
    gap: 48px;
  }
}

