.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 70px;
background: linear-gradient(180deg, #1a0707 0%, #733600 100%);
}

.header-container {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: linear-gradient(180deg, #1a0707 0%, #733600 100%);
  padding: 93px 24px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 84px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: start;
}


.menu-item {
  text-align: left;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff600;
}

.header-policy-list {
  margin-top: 32px;
  display: flex;
  gap: 40px;
  justify-content: center;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #e6e6e9;
}

@media screen and (min-width: 1440px) {
  .header {
    backdrop-filter: blur(4px);
    background: rgba(9, 46, 159, 0.8);
    height: 82px;
  }

  .header-container {
    padding: 3px 318px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .navigation-item {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }


  .navigation-item:hover,
  .navigation-item:focus,
  .navigation-item.active {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff600;

  }

}